:root {
	--sidebarInlineSize: 15rem;
	--minBlockSize: 30rem;
	--minInlineSize: 48rem;
	--playerSize: 5.5625rem;
}

.layout {
	min-inline-size: var(--minInlineSize);
	display: grid;
	block-size: 100vh;
	overflow-y: hidden;
	grid-template-columns: var(--sidebarInlineSize) 1fr;
	grid-template-rows: 1fr var(--playerSize);
	grid-template-areas:
		'sidebar main'
		'player player';
}

.layout .sidebar {
	grid-area: sidebar;
}

.layout .page {
	grid-area: main;
	overflow: auto;
}

.layout footer {
	grid-area: player;
}
