@font-face {
	font-family: Avenir;
	src: url('../assets/fonts/AvenirLTStd-Black.otf');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: Avenir;
	src: url('../assets/fonts/AvenirLTStd-Roman.otf');
	font-weight: normal;
	font-style: normal;
}

:root {
	--primary: #00b050;
	--white: #ffffff;
	--gray10: #b3b3b3;
	--gray20: #737373;
	--gray30: #282828;
	--gray40: #181818;
	--gray50: #121212;
	--gray60: #000000;
	--fontBase: Avenir, sans-serif;
	--headline1: 900 2rem / normal var(--fontBase);
	--headline2: 800 1.5rem/1.75rem var(--fontBase);
	--button: 500 0.875rem/1rem var(--fontBase);
	--subtitle2: 0.75rem / normal var(--fontBase);
	--smallfont: 0.65625rem / normal var(--fontBase);
	--basefont-normal: 0.875rem/1.375rem var(--fontBase);
	--basefont-bold: 900 0.875rem/1.375rem var(--fontBase);
	--progress: 0%;
	--volume: 100%;
}

.body {
	background: var(--gray50);
	font: var(--basefont-normal);
	color: var(--gray10);
	margin: 0;
}
