.player {
	display: flex;
	justify-content: space-between;
	padding: 1rem;
	gap: 1rem;
	box-shadow: inset 0 1px 0 var(--gray30);
}

.player > * {
	flex: 1;
	min-width: 0;
}

.player-control {
	border: none;
	padding: 0;
	background: none;
	color: var(--gray10);
	font-size: 1rem;
	padding-inline-start: 0.5rem;
	padding-inline-end: 0.5rem;
	cursor: pointer;
}

.player-playerVolume {
	display: flex;
	justify-content: flex-end;
}

.player-control:hover {
	color: var(--white);
}

.player-control.is-normal .icon-volume-high:before {
	content: '\ea27';
}

.player-control.is-low .icon-volume-high:before {
	content: '\ea28';
}

.player-control.is-mute .icon-volume-high:before {
	content: '\ea2a';
}
