.playlistList-container {
	display: flex;
	overflow-x: auto;
	gap: 1rem;
}

.playlistList-container > * {
	flex-shrink: 0;
}

.playlistList-wrapContainer {
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(11.625rem, 1fr));
}

.playlistList-top {
	padding-block-end: 0.375rem;
	padding-block-start: 0.375rem;
	margin-block-end: 1rem;
	display: flex;
	justify-content: space-between;
	gap: 1rem;
	align-items: center;
}

.playlistList-title {
	font: var(--headline2);
	color: var(--white);
	margin: 0;
}
