.profile {
	display: flex;
	color: var(--white);
	border-radius: 1rem;
	-webkit-border-radius: 1rem;
	-moz-border-radius: 1rem;
	-ms-border-radius: 1rem;
	-o-border-radius: 1rem;
	border: none;
	background: var(--gray60);
	padding: 0.125rem;
	padding-inline-end: 0.625rem;
	align-items: center;
	gap: 0.25rem;
	inline-size: 11.25rem;
	cursor: pointer;
	position: relative;
}

.profile:hover {
	background: var(--gray30);
}

.profile-photo {
	flex-shrink: 0;
	inline-size: 1.75rem;
	block-size: 1.75rem;
	margin: 0;
	overflow: hidden;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}

.profile-photo img {
	inline-size: 100%;
	vertical-align: middle;
}

.profile-name {
	font: var(--basefont-normal);
	white-space: nowrap;
	text-overflow: ellipsis;
	display: block;
	overflow: hidden;
}

.profile > i {
	font-size: 0.375rem;
}

.profile.is-open > i {
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
}

@media screen and (max-width: 840px) {
	.profile-name,
	.profile > i {
		display: none;
	}

	.profile {
		padding-inline-end: 0.125rem;
		inline-size: auto;
	}
}
