.search {
	position: relative;
	flex: 1;
}

.search i {
	position: absolute;
	top: calc(50% - 0.5rem);
	left: 0.5625rem;
	font-size: 1rem;
	block-size: 1rem;
	color: var(--gray10);
}

.search input {
	color: var(--gray30);
	font: var(--basefont-normal);
	padding-inline-start: 2rem;
	padding-inline-end: 1rem;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	border: none;
	outline: none;
	padding-block-end: 0.5625rem;
	padding-block-start: 0.5625rem;
	max-inline-size: 22rem;
	inline-size: 100%;
}

.search input::-webkit-input-placeholder {
	color: var(--gray10);
}

.search:focus i,
.search:focus-within i {
	color: var(--gray30);
}
