.album {
	padding-block-start: 1.5rem;
	padding-inline-end: 1rem;
	padding-inline-start: 1.5rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.album > button {
	block-size: 56px;
	inline-size: 56px;
	font-size: 1.225rem;
}
