.albumSong {
	display: flex;
	block-size: 2.75rem;
}

.albumSong-description {
	display: flex;
	flex: 1;
	align-items: center;
}

.albumSong-description > * {
	flex: 1;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	margin: 0;
	font: var(--basefont-normal);
	color: var(--white);
	padding-inline-end: 0.625rem;
	padding-inline-start: 0.625rem;
}

.albumSong-artist {
	text-transform: uppercase;
}

.albumSong-details {
	display: flex;
}

.albumSong-actions {
	display: flex;
	padding-inline-end: 10px;
	padding-inline-start: 10px;
	justify-content: space-between;
	inline-size: 82px;
	box-sizing: border-box;
	align-items: center;
}

.albumSong-play {
	border: 0.4px solid var(--white);
	block-size: 1.5rem;
	inline-size: 1.5rem;
	background: rgba(23, 23, 23, 0.5);
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	cursor: pointer;
}

.albumSong-play:active {
	transform: scale(0.9);
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-ms-transform: scale(0.9);
	-o-transform: scale(0.9);
}

.albumSong-play i {
	color: var(--white);
	font-size: 0.5437rem;
	position: relative;
	left: 1px;
	bottom: 1px;
}

.albumSong-actions .likeButton {
	font-size: 1rem;
	block-size: 1rem;
	padding: 0;
}

.albumSong-details > * {
	padding: 0.625rem;
	box-sizing: border-box;
	margin: 0;
}

.albumSong-release {
	inline-size: 5.75rem;
}

.albumSong-duration {
	inline-size: 3rem;
}
