.filterbar {
	position: relative;
}

.filterbar input {
	border: none;
	padding: 0.5rem;
	padding-inline-start: 1.875rem;
	background: transparent;
	outline: none;
	color: var(--white);
	inline-size: 31.25rem;
	transition: background 0.3s;
	-webkit-transition: background 0.3s;
	-moz-transition: background 0.3s;
	-ms-transition: background 0.3s;
	-o-transition: background 0.3s;
}

.filterbar input::-webkit-input-placeholder {
	color: var(--gray10);
}

.filterbar i {
	position: absolute;
	top: calc(50% - 0.4375rem);
	font-size: 0.875rem;
	block-size: 0.875rem;
	color: var(--white);
	left: 0.5rem;
}

.filterbar input:focus {
	background: var(--gray20);
}

.filterbar input:focus::-webkit-input-placeholder {
	color: var(--white);
}

.filterbar input::-webkit-search-cancel-button {
	-webkit-appearance: none;
	block-size: 12px;
	inline-size: 12px;
	background: url('../../assets/images/cancel.svg');
	background-size: cover;
}
